body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    line-height: 1;
}

#signed_in_panel div {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.message_panel {
    height: 200px;
    overflow: auto;
}

#send_form textarea {
    width: 100%;
}

.msg_from {
    font-weight: bold;
}

.msg_body {
    border-bottom: 1px dashed black;